html,
body,
#__next {
  height: 100%;
  margin: 0;
  width: 100%;
}

.bubble {
  /* background-color: white; */
  /* background-image: url(/images/spritesheet.png); */
  background-size: 1076px 1076px;
  border-radius: 50%;
  /* box-shadow: 0 15px 35px rgba(253, 217, 217, 0.1),
    0 3px 10px rgba(0, 0, 0, 0.1); */
  height: 152px;
  margin-right: 20px;
  position: absolute;
  transition: opacity ease-in-out 1s;
  width: 152px;
}

.bubbles {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.bubbles-wrapper {
  background-color: rgb(255, 255, 255);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
